//////////////////////////////
// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////
$legacy-support-for-ie6:     false;
$legacy-support-for-ie7:     false;
$legacy-support-for-mozilla: false;

//////////////////////////////
// Import Base
//////////////////////////////
@import "partials/normalize";
@import "partials/base";
@import "partials/typography";
@import "partials/nav";

//$break: 406px;
$grids: 12;
$gutters: 1/3;

@include sticky-footer(4em);

* {
	margin: 0;
	padding: 0;
	//@include box-sizing(border-box);
}
html {
	//height: 100%;
	width: 100%;
	background: $white 0 0;
	body {
		background: $white 0 0;
		font-family: $sans;
		letter-spacing: .08em;
		-webkit-font-smoothing: antialiased;
		@include blacktype;
		header {
			width : 100%;
			height : 60px;
			//margin-top: -1.4em;
			position: absolute;
			background-color: $black;
			border-bottom: $red dotted 1px;
			padding-bottom: 1em;
			@include whitetype;
			@include breakpoint($palm){
				background-color: $white;
				position: static;
				height: 30px;
				border-bottom: 0;
				margin-bottom: 0;
				}			
			img {
				width: 54px; 
				padding-top:15px;
				padding-left:18px; 
				display: inline;
				@include breakpoint($palm){
					display: none;
				}
			}
			a {
				display: inline;
				@include whitetype;
				text-decoration: none;
				@include breakpoint($palm){
					@include blacktype;
					text-align: center;
					//display: block;
					//padding-left: 1em;
					background-color:$white;
					&:hover {@include unstyled-link;
					}
				}
				h1 {
					left: 1.9em;
					position: absolute;
					top: -.26em;
					@include breakpoint($palm){
						display: block;
						//padding-left: 1em;
						text-align: center;
						}
					}	
				}
			h1 {
				display: inline;
				line-height: 1em;
				@include breakpoint($palm){
					@include blacktype;
					font-size: 1.5em;
					text-align: center;
					display: block;
					//padding-left: 1em;
					margin-bottom: 0;
					background-color:$white;
					a {@include unstyled-link;}
					}
				
			}
		}
		#root {
			background: $white repeat;
			@include blacktype;	
			.container {
				@include grid-span(10, 2);
				@include clearfix;
				height: 100%;	
				background: $white repeat;
				#l-side {
					clear: both;
					position: absolute;
					text-align: left;
					//font-size: 12em;
					top: 9.5em;
					@include grid-span(2,1);
					@include breakpoint($palm){
						display: none;
						}
				}					
				#r-side {
					position: absolute;
					top: 35.5em;
					text-align: right;
					@include grid-span(2,9);
					@include breakpoint($palm){
						display: none;
						}
				}	
				#subhead {
					width: 100%;
					text-align: center;
					position: relative;
					clear: both;
					padding-top: 1em;
					@include blacktype;
					h2 {
						padding-top: 2.5em;
						@include breakpoint($palm){
							padding-top: 0;
						}
					 }
				}
				#page-title {
					@extend #subhead;
				}	
				nav {
					ul {
						clear: both;
						margin-top: -3.15em;
						@include grid-span(4, 5);
						@include no-bullets;
						@include whitetype;
						@include breakpoint($palm){
							@include grid-span(10,2);
							margin-top: 0;
						}
						li {
							text-align: center;
							padding: 2.5em 0;
							margin: .2em 0;
							clear: both;
							@include breakpoint($palm){
								padding: 1.5em 0;
							}
							a {
								text-decoration: none;
								font-weight: 900;
								@include whitetype;
								text-shadow: 1px 1px 1px rgba(0.004,0.004,0.004,0);
								text-align: center;
								&:hover {@include unstyled-link;}									
							}
						}
					}		
				}
				#nav-foot {
					width: 100%;
					text-align: center;
					position: relative;
					clear: both;
					@include breakpoint($palm){
						display: none;
					}			
				}
				#gallery {
					@include clearfix;
					position: relative;
					width: 100%;
					p {
						padding-bottom: 1.5em;
						padding-top: .5em;
						@include breakpoint($palm){
							padding: 0;
							}
					}
					img {pointer-events: none;}
					#letters  {
						//padding-top: .8em;
						letter-spacing: normal;
						font-size: 8em;
						@include breakpoint($med){
							font-size: 4em;
						}
						@include breakpoint($palm){
							float: none;
							width: 100%;
							font-size: 1em;
							padding: 0;
							}
						p {padding-bottom: 1em;}
						.monogram {
							@include breakpoint($palm){
							font-size:2.2em;
							padding: 0;
							}
						}
					}
					.row {
						@include clearfix;
						width: 100%; 
						clear: both;
						padding-top: 2em;
						//padding-bottom: 4em;
						.single {
							@include grid-span(12,1);
							@include vertical-center;
							@include center;
							@include breakpoint($palm){
								float: none;
								width: 100%;
								margin: 0 auto;
							}
						}
						.l-col {
							@include grid-span(4,1);
							@include breakpoint($palm){
								float: none;
								width: 100%;
								margin: 0 auto;
							}
						}
						.c-col {
							@include grid-span(4,5);
							@include breakpoint($palm){
								float: none;
								width: 100%;
								margin: 0 auto;
							}
						}
						.r-col {
							@include grid-span(4,9);
							@include breakpoint($palm){
								float: none;
								width: 100%;
								margin: 0 auto;
							}	
						}
					}	
				}
			}
		}			
		#footer {
			width: 100%;
			background-color: $white;
			@include blacktype;
			h5 {
				text-align : center;
				margin: 0;
				@include blacktype;
			}
		}	
	}
}

.cat1 {
	background-color: $blue;
	&:hover {
		background-color: tint($blue, 20%);
	}
}
.cat4 {
	background-color: $yellow;
	&:hover {
		background-color: tint($yellow, 20%);
	}
}
.cat2 {
	background-color: $black;
	&:hover {background-color: shade($white, 80%);}
}
.cat5 {
	background-color: $red;
	&:hover {background-color: tint($red, 20%);}
}
header.cat5 {
	@include breakpoint($palm){
		background-color: $white;
	}
}
.cat3 {
	background-color: $pink;
	&:hover {
		background-color: tint($pink, 20%);
	}
}
body.dark, html body #root.dark, html body #footer.dark, html body #footer h5.dark {
	background-color: $black !important;
	@include whitetype;
}

