
article {
	@include grid-span(6,4);
	@include vertical-center;
	border-bottom: $red dotted 1px;
	clear: both;
	p {
		text-align: left;
		padding: .6em 0;
		//font-weight: $book;
		letter-spacing: 0.004em;
		line-height: 1.5em;
		&:last-of-type {padding-bottom: 1.6em;}
	}
	@include breakpoint($palm){
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	img {
		@include box-emboss(.9,.03);
		@include center;
		margin: 1.6em 0;
	}
	.article-title {
		text-align: left;
		font-size: 1.7rem;
		letter-spacing: 0.003em;
		padding: 0;
		font-weight: $regular;
	}
	h3, small {margin: .1em 0;}
	.post-date {
		text-align: right;
		color: tint($red, 50%);
		font-weight: $light;
	}
}