//////////////////////////////
// Imports
//////////////////////////////
@import "singularitygs";
@import "toolkit";
@import "compass/typography/links/link-colors";
@import "compass/typography/links/unstyled-link";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/bullets";
@import "compass/layout/sticky-footer";

$set-box-sizing: false;
//$container-width: 990px;
$grids: 12;
$gutters: 1/3;
$background-grid-color: #eee;
$experimental-support-for-svg: true;
$experimental-support-for-pie: true;
$border-radius:(5px);
$white: #F9F9F9;
$white-white:#fff;
$yellow: #feda30;
$black: #191918;
$blue: #11a4da;
$pink: #f3c8d6;
$red: #d92328;

$footer-height: 4em;
$container-width: 100%;

$small: 12px;

$light: 300;
$book: 400;
$regular: 500;
$bold: 700;
$bolder: 800;

// Base Font
$base-font-family: "futura-pt", sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.4;


$palm: max-width 600px;
$med: 641px 1025px;
$wide: 1680px;
//$tall: min-height 900px; 

p, li {font-size: $base-font-size;}

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}
//$set-box-sizing: false;
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}
@mixin whitetype(){
	color: $white;
	//text-shadow: 1px 1px 1px rgba(0.004,0.004,0.004,0);	
}
@mixin blacktype{
	color: $black;
	//text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@mixin center {
	width: $container-width;
	text-align: center;
}
