//////////////////////////////
// Imports
//////////////////////////////
@import "singularitygs";
@import "compass/typography/links/link-colors";
@import "compass/typography/links/unstyled-link";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/bullets";
$set-box-sizing: false;
//$container-width: 990px;
$grids: 12;
$gutters: 1/3;
$background-grid-color: #eee;
$experimental-support-for-svg: true;
$experimental-support-for-pie: false;
$border-radius:(5px);
$white: #F9F9F9;
$white-white:#fff;
$yellow: #feda30;
$black: #191918;
$blue: #11a4da;
$pink: #f3c8d6;
$red: #d92328;
$sans: ‘Century Gothic’, AppleGothic, sans-serif;
$footer-height: 4em;
$container-width: 100%;
$base-font-size: 16px;

p, li {font-size: $base-font-size;}

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}
//$set-box-sizing: false;
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}
@mixin center {
	width: $container-width;
	text-align: center;
}
@mixin cat {
	text-align: center;
	color: white;
	text-decoration: none;
	list-style: none;
	&:hover {
		color: $black;
		background-color: $white;
	}
}
@mixin cat-bg($cat) {
	@if cat == prints {background-color: $blue;}
	@else if cat == collage {background-color: $yellow;}
	@else if cat == neon {background-color: $black;}
	@else if cat == sewings {background-color: $red;}
	@else {background-color: $pink;}
}
