.home {
	h1 { 
		display: block;
		line-height: 0.8em; 
		padding-left: 1.9em;
		font-weight: $bold;
		@include breakpoint($palm){
			position: static;
			padding-left: 0;
			text-align: center;
    }
	}
	#info-nav {
		clear: none;
		text-align: left;
		@include grid-span(3,1);
		top: 44em;
		margin-left: 1em;
		position: absolute;
		
		@include breakpoint($palm){
			width: 100%;
			clear: both !important;
			float: none;
			position: static;
			@include center;
			margin-left: 0; 
		}
		@include breakpoint($wide){
			position: absolute;
			bottom: 12em;
		}
		@include breakpoint($med){
			position: absolute;
			bottom: 7.3em;
		}
		ul {
			@include no-bullets;
			li {
				@include breakpoint($palm){	
				position: static;
				display: inline;
				@include center;
				padding-top: 1px;
				&:first-of-type {padding-right: 3em;}
				&:nth-child(n+3){display: none;}	
				}
			} 
			li a {
				//font-weight: 600;
				@include blacktype;
				line-height: 1.3em;
				text-decoration: none;
				&:hover {color: $red;}
			}		
		}
	}

	.cap {
		font-size: 4em;
		line-height:2em;
		margin:0;
		font-weight: $bolder;
		@include breakpoint($palm){
			display: none;
		}
	}
	.pipe {
		font-size: 4em;
		line-height:.7em; 
		//padding-bottom: .2em;
		@include blacktype;
		font-weight: $bolder;
		z-index: 1;
		@include breakpoint($wide){
			padding-bottom: 2em;
		}
	}
	.monogram {
		font-size: 16em;
		line-height:1em; 
		@include blacktype;
		font-weight: $bolder;
	}
}
