.home {
	#info-nav {
		clear: both;
		text-align: left;
		@include grid-span(3,1);
		bottom: 10em;
		position: absolute;
		
		@include breakpoint($palm){
			@include grid-span(11,1);
			position: relative;
			padding-top: 1px;
			clear: both;
			&:nth-child(n+3){display: none;}	
		}
		@include breakpoint($tall){
			position: absolute;
			bottom: 10em;
		}
		@include breakpoint($med){
			position: absolute;
			bottom: 6em;
		}
		ul {
			@include no-bullets;
			li a {
				font-weight: 300;
				@include blacktype;
				line-height: 1.2em;
				text-decoration: none;
				&:hover {color: $red;}
				}
			}
	}
}				