p, li, a, {
	font: {
		family: $base-font-family;
		size: 1.2em; 
	//	weight: $regular;
	}
}
article p {
	font: {
		family: 'pt-sans',sans-serif;
		size: 1em;
	}
	color: shade($white, 70%);
	strong {font-weight: $bold};
}
article a {
	@include link-colors(shade($white, 70%),tint($red, 20%),$red,shade($white, 70%),tint($red, 20%));
	font: {
		family: 'pt-sans',sans-serif;
		size: 1em;
	}
	text-decoration: none;
	border-bottom: 1px dotted $red;
	background-color: white;
	color: $black;
}
small, ul.pager{
	font: {
		family: 'pt-sans',sans-serif;
		size: 0.8em;
		weight: $light;
	}
}
h1, h2 {
	font: {
		family: "futura-pt-n7",$base-font-family;
		size: 2rem; 
		weight: $bold;
	}
	// h3 {
	// 	family: "futura-pt-n7",$base-font-family;
	// 	size: 1.8rem; 
	// 	weight: $bold;
	// }
}
//h5.home {line-height: 5em;}

figure {
	display: inline-block;
	width: 100%;
	@include center;
	img {
		@include box-emboss(0.8, 0.05);
	}
	figcaption {
		@extend small;
		@include center;
		margin-top: .5em; 
		padding-bottom: 2.5em;
		&:last-child {padding-bottom: 4em;}
	}
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	// font-style: normal;
	// font-weight: normal;
	// font-variant: normal;
	// text-transform: none;
	// line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// @font-face {
// 	font-family: 'icomoon';
// 	src:url('fonts/icomoon.eot');
// 	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/icomoon.ttf') format('truetype'),
// 		url('fonts/icomoon.woff') format('woff'),
// 		url('fonts/icomoon.svg#icomoon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

//[class^="icon-"], [class*=" icon-"] {
	// font-family: 'icomoon';
	//speak: none;
	// font-style: normal;
	// font-weight: normal;
	// font-variant: normal;
	// text-transform: none;
	// line-height: 1;
	// font-size: 200%;
 //  color: $white;
 //  background-color: $black;
	/* Better Font Rendering =========== */
	//-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
//}
.icon-play:before {
	content: "\e600";
}
.icon-play2:before {
	content: "\e601";
  //@include rotate(180deg);
}
