p, li, a, {
	font: {
		family: $base-font-family;
		size: 1.2em; 
	//	weight: $regular;
	}
}
small {
	font: {
		family: $base-font-family;
		size: 0.8em;
		weight: $light;
	}
}
h1, h2 {
	font: {
		family: "futura-pt-n7",$base-font-family;
		size: 2rem; 
		weight: $bold;
	}
	// h3 {
	// 	family: "futura-pt-n7",$base-font-family;
	// 	size: 1.8rem; 
	// 	weight: $bold;
	// }
}
//h5.home {line-height: 5em;}

figure {
	display: inline-block;
	width: 100%;
	//padding: 2em;
	img {
		@include box-emboss(0.8, 0.05);
	}
	figcaption {
		@extend small;
		@include center;
		margin-top: .5em; 
		padding-bottom: 2.5em;
		&:last-child {padding-bottom: 4em;}
	}
}