p, li, a, {
	font: {
		family: $base-font-family;
		size: 1.2em; 
	//	weight: $regular;
	}
}
article p {
	font: {
		family: 'pt-sans',sans-serif;
		size: 1em;
	}
	color: shade($white, 70%);
	strong {font-weight: $bold};
}
article a {
	@include link-colors(shade($white, 70%),tint($red, 20%),$red,shade($white, 70%),tint($red, 20%));
	font: {
		family: 'pt-sans',sans-serif;
		size: 1em;
	}
	text-decoration: none;
	border-bottom: 1px dotted $red;
	background-color: white;
	color: $black;
}
small {
	font: {
		family: 'pt-sans',sans-serif;
		size: 0.8em;
		weight: $light;
	}
}
h1, h2 {
	font: {
		family: "futura-pt-n7",$base-font-family;
		size: 2rem; 
		weight: $bold;
	}
	// h3 {
	// 	family: "futura-pt-n7",$base-font-family;
	// 	size: 1.8rem; 
	// 	weight: $bold;
	// }
}
//h5.home {line-height: 5em;}

figure {
	display: inline-block;
	width: 100%;
	//padding: 2em;
	img {
		@include box-emboss(0.8, 0.05);
	}
	figcaption {
		@extend small;
		@include center;
		margin-top: .5em; 
		padding-bottom: 2.5em;
		&:last-child {padding-bottom: 4em;}
	}
}