/* line 55, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 94, ../sass/partials/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 139, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 192, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 210, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 229, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 239, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 263, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../sass/partials/_normalize.scss */
small, figure figcaption {
  font-size: 80%;
}

/* line 278, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 289, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 341, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 350, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 377, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 405, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 418, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 428, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 443, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 454, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 464, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 476, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 487, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before, html body #root .container #nav-foot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before, html body #root .container #nav-foot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 51, ../sass/partials/_base.scss */
p, li {
  font-size: 16px;
}

/* line 1, ../sass/partials/_typography.scss */
p, li, a {
  font-family: "futura-pt", sans-serif;
  font-size: 1.2em;
}

/* line 8, ../sass/partials/_typography.scss */
small, figure figcaption {
  font-family: "futura-pt", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
}

/* line 15, ../sass/partials/_typography.scss */
h1, h2, h3 {
  font-family: "futura-pt-n7", "futura-pt", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

/* line 24, ../sass/partials/_typography.scss */
figure {
  display: inline-block;
  width: 100%;
}
/* line 28, ../sass/partials/_typography.scss */
figure img {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
}
/* line 31, ../sass/partials/_typography.scss */
figure figcaption {
  width: 100%;
  text-align: center;
  margin-top: .5em;
  padding-bottom: 2.5em;
}
/* line 36, ../sass/partials/_typography.scss */
figure figcaption:last-child {
  padding-bottom: 4em;
}

/* line 2, ../sass/partials/_nav.scss */
.home h1 {
  display: block;
  line-height: 1em;
  padding-left: 1.9em;
  font-weight: 700;
}
@media (max-width: 600px) {
  /* line 2, ../sass/partials/_nav.scss */
  .home h1 {
    position: static;
    padding-left: 0;
    text-align: center;
  }
}
/* line 13, ../sass/partials/_nav.scss */
.home #info-nav {
  clear: both;
  text-align: left;
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  bottom: 10em;
  position: absolute;
}
@media (max-width: 600px) {
  /* line 13, ../sass/partials/_nav.scss */
  .home #info-nav {
    width: 100%;
    clear: both !important;
    float: none;
    position: static;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1680px) {
  /* line 13, ../sass/partials/_nav.scss */
  .home #info-nav {
    position: absolute;
    bottom: 12em;
  }
}
@media (min-width: 641px) and (max-width: 1025px) {
  /* line 13, ../sass/partials/_nav.scss */
  .home #info-nav {
    position: absolute;
    bottom: 9.3em;
  }
}
/* line 35, ../sass/partials/_nav.scss */
.home #info-nav ul {
  list-style: none;
}
/* line 11, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.home #info-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media (max-width: 600px) {
  /* line 37, ../sass/partials/_nav.scss */
  .home #info-nav ul li {
    position: static;
    display: inline;
    width: 100%;
    text-align: center;
    padding-top: 1px;
  }
  /* line 43, ../sass/partials/_nav.scss */
  .home #info-nav ul li:first-of-type {
    padding-right: 3em;
  }
  /* line 44, ../sass/partials/_nav.scss */
  .home #info-nav ul li:nth-child(n+3) {
    display: none;
  }
}
/* line 47, ../sass/partials/_nav.scss */
.home #info-nav ul li a {
  color: #191918;
  line-height: 1.3em;
  text-decoration: none;
}
/* line 52, ../sass/partials/_nav.scss */
.home #info-nav ul li a:hover {
  color: #d92328;
}
/* line 57, ../sass/partials/_nav.scss */
.home .cap {
  font-size: 4em;
  line-height: 2em;
  margin: 0;
  font-weight: 800;
}
@media (max-width: 600px) {
  /* line 57, ../sass/partials/_nav.scss */
  .home .cap {
    display: none;
  }
}
/* line 66, ../sass/partials/_nav.scss */
.home .pipe {
  font-size: 4em;
  line-height: .7em;
  color: #191918;
  font-weight: 800;
  z-index: 1;
}
@media (min-width: 1680px) {
  /* line 66, ../sass/partials/_nav.scss */
  .home .pipe {
    padding-bottom: 2em;
  }
}
/* line 77, ../sass/partials/_nav.scss */
.home .monogram {
  font-size: 16em;
  line-height: 1em;
  color: #191918;
  font-weight: 800;
}

/* line 10, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -4em;
}
/* line 18, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 4em;
}

/* line 20, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 4em;
}

/* line 25, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/style.scss */
html {
  width: 100%;
  background: #f9f9f9 0 0;
}
/* line 34, ../sass/style.scss */
html body {
  background: #f9f9f9 0 0;
  font-family: "futura-pt", sans-serif;
  letter-spacing: .09em;
}
/* line 40, ../sass/style.scss */
html body header {
  width: 100%;
  height: 60px;
  font-weight: 700;
  position: absolute;
  background-color: #191918;
  border-bottom: #d92328 dotted 1px;
  padding-bottom: 1em;
  color: #f9f9f9;
}
@media (max-width: 600px) {
  /* line 40, ../sass/style.scss */
  html body header {
    background-color: #f9f9f9;
    position: static;
    height: 30px;
    border-bottom: 0;
    margin-bottom: 0;
  }
}
/* line 56, ../sass/style.scss */
html body header img {
  width: 54px;
  padding-top: 15px;
  padding-left: 18px;
  display: inline;
}
@media (max-width: 600px) {
  /* line 56, ../sass/style.scss */
  html body header img {
    display: none;
  }
}
/* line 65, ../sass/style.scss */
html body header a {
  color: #f9f9f9;
  text-decoration: none;
}
@media (max-width: 600px) {
  /* line 65, ../sass/style.scss */
  html body header a {
    color: #191918;
    text-align: center;
    background-color: #f9f9f9;
  }
  /* line 75, ../sass/style.scss */
  html body header a:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }
  /* line 6, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
  html body header a:hover:active, html body header a:hover:focus {
    outline: none;
  }
}
/* line 78, ../sass/style.scss */
html body header a h1 {
  left: 1.9em;
  position: absolute;
  top: -.26em;
}
@media (max-width: 600px) {
  /* line 78, ../sass/style.scss */
  html body header a h1 {
    display: block;
    text-align: center;
  }
}
@media (max-width: 600px) {
  /* line 89, ../sass/style.scss */
  html body header h1 {
    color: #191918;
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin-bottom: 0;
    background-color: #f9f9f9;
  }
  /* line 99, ../sass/style.scss */
  html body header h1 a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }
  /* line 6, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
  html body header h1 a:active, html body header h1 a:focus {
    outline: none;
  }
}
/* line 104, ../sass/style.scss */
html body #root {
  background: #f9f9f9 repeat;
  color: #191918;
}
/* line 107, ../sass/style.scss */
html body #root .container {
  width: 82.97872%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
  overflow: hidden;
  height: 100%;
  background: #f9f9f9 repeat;
}
/* line 112, ../sass/style.scss */
html body #root .container #l-side {
  clear: both;
  position: absolute;
  text-align: left;
  top: 9.5em;
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  z-index: 1000;
}
@media (max-width: 600px) {
  /* line 112, ../sass/style.scss */
  html body #root .container #l-side {
    display: none;
  }
}
/* line 124, ../sass/style.scss */
html body #root .container #r-side {
  font-family: "futura-pt", sans-serif;
  position: absolute;
  top: 35.5em;
  text-align: right;
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 68.08511%;
  clear: none;
  clear: left;
}
@media (max-width: 600px) {
  /* line 124, ../sass/style.scss */
  html body #root .container #r-side {
    display: none;
  }
}
/* line 135, ../sass/style.scss */
html body #root .container #subhead, html body #root .container #page-title {
  width: 100%;
  text-align: center;
  position: relative;
  clear: both;
  padding-top: 1em;
  padding-left: .15em;
  margin-bottom: 3px;
  color: #191918;
}
/* line 145, ../sass/style.scss */
html body #root .container #subhead h2, html body #root .container #page-title h2 {
  padding-top: 2.5em;
}
@media (max-width: 600px) {
  /* line 145, ../sass/style.scss */
  html body #root .container #subhead h2, html body #root .container #page-title h2 {
    padding-top: 0;
  }
}
/* line 156, ../sass/style.scss */
html body #root .container nav ul {
  margin-top: -3.2em;
  margin-bottom: 0;
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
  list-style: none;
  color: #f9f9f9;
  clear: both;
}
/* line 11, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
html body #root .container nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media (max-width: 600px) {
  /* line 156, ../sass/style.scss */
  html body #root .container nav ul {
    width: 82.97872%;
    float: left;
    margin-right: -100%;
    margin-left: 8.51064%;
    clear: none;
    margin-top: 0;
    margin-bottom: 5px;
  }
}
/* line 168, ../sass/style.scss */
html body #root .container nav ul li {
  position: relative;
  text-align: center;
  padding: 2.5em 0;
  margin: .2em 0;
  clear: both;
  z-index: 1000;
}
@media (max-width: 600px) {
  /* line 168, ../sass/style.scss */
  html body #root .container nav ul li {
    padding: 1.5em 0;
  }
}
/* line 178, ../sass/style.scss */
html body #root .container nav ul li a {
  text-decoration: none;
  font-weight: 900;
  color: #f9f9f9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  text-align: center;
}
/* line 184, ../sass/style.scss */
html body #root .container nav ul li a:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
html body #root .container nav ul li a:hover:active, html body #root .container nav ul li a:hover:focus {
  outline: none;
}
/* line 189, ../sass/style.scss */
html body #root .container #nav-foot {
  width: 100%;
  text-align: center;
  position: relative;
  clear: left;
  padding-top: 5px;
  padding-left: .2em;
  z-index: 0;
}
@media (max-width: 600px) {
  /* line 189, ../sass/style.scss */
  html body #root .container #nav-foot {
    display: none;
  }
}
/* line 203, ../sass/style.scss */
html body #root .container #gallery {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 207, ../sass/style.scss */
html body #root .container #gallery p {
  padding-bottom: 1.5em;
  padding-top: .5em;
}
@media (max-width: 600px) {
  /* line 207, ../sass/style.scss */
  html body #root .container #gallery p {
    padding: 0;
  }
}
/* line 214, ../sass/style.scss */
html body #root .container #gallery img {
  pointer-events: none;
}
/* line 215, ../sass/style.scss */
html body #root .container #gallery #letters {
  font-family: "futura-pt", sans-serif;
  letter-spacing: normal;
  color: #191918;
  font-size: 8em;
  font-weight: 700;
}
@media (min-width: 641px) and (max-width: 1025px) {
  /* line 215, ../sass/style.scss */
  html body #root .container #gallery #letters {
    font-size: 4em;
  }
}
@media (max-width: 600px) {
  /* line 215, ../sass/style.scss */
  html body #root .container #gallery #letters {
    float: none;
    width: 100%;
    font-size: 1em;
    padding: 0;
  }
}
/* line 230, ../sass/style.scss */
html body #root .container #gallery #letters p {
  padding-bottom: 1em;
}
@media (max-width: 600px) {
  /* line 231, ../sass/style.scss */
  html body #root .container #gallery #letters .monogram {
    font-size: 2.2em;
    padding: 0;
  }
}
/* line 238, ../sass/style.scss */
html body #root .container #gallery .row {
  overflow: hidden;
  width: 100%;
  clear: both;
  padding-top: 2em;
}
/* line 244, ../sass/style.scss */
html body #root .container #gallery .row .single {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
@media (max-width: 600px) {
  /* line 244, ../sass/style.scss */
  html body #root .container #gallery .row .single {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
/* line 254, ../sass/style.scss */
html body #root .container #gallery .row .l-col {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
@media (max-width: 600px) {
  /* line 254, ../sass/style.scss */
  html body #root .container #gallery .row .l-col {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
/* line 262, ../sass/style.scss */
html body #root .container #gallery .row .c-col {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}
@media (max-width: 600px) {
  /* line 262, ../sass/style.scss */
  html body #root .container #gallery .row .c-col {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
/* line 270, ../sass/style.scss */
html body #root .container #gallery .row .r-col {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (max-width: 600px) {
  /* line 270, ../sass/style.scss */
  html body #root .container #gallery .row .r-col {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
/* line 282, ../sass/style.scss */
html body #footer {
  width: 100%;
  background-color: #f9f9f9;
  color: #191918;
}
/* line 286, ../sass/style.scss */
html body #footer h5 {
  text-align: center;
  margin: 0;
  color: #191918;
}

/* line 295, ../sass/style.scss */
.cat1 {
  background-color: #11a4da;
}
/* line 297, ../sass/style.scss */
.cat1:hover {
  background-color: #40b6e1;
}

/* line 301, ../sass/style.scss */
.cat4 {
  background-color: #feda30;
}
/* line 303, ../sass/style.scss */
.cat4:hover {
  background-color: #fee159;
}

/* line 307, ../sass/style.scss */
.cat2 {
  background-color: #191918;
}
/* line 309, ../sass/style.scss */
.cat2:hover {
  background-color: #313131;
}

/* line 311, ../sass/style.scss */
.cat5 {
  background-color: #d92328;
}
/* line 313, ../sass/style.scss */
.cat5:hover {
  background-color: #e04f53;
}

@media (max-width: 600px) {
  /* line 315, ../sass/style.scss */
  header.cat5 {
    background-color: #f9f9f9;
  }
}

/* line 320, ../sass/style.scss */
.cat3 {
  background-color: #f3c8d6;
}
/* line 322, ../sass/style.scss */
.cat3:hover {
  background-color: #f5d3de;
}

/* line 326, ../sass/style.scss */
body.dark, html body #root.dark, html body #footer.dark, html body #footer h5.dark {
  background-color: #191918 !important;
  color: #f9f9f9;
}
