@charset "UTF-8";
/* line 55, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 94, ../sass/partials/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 139, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 192, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 210, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 229, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 239, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 263, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 278, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 289, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 341, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 350, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 377, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 405, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 418, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 428, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 443, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 454, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 464, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 476, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 487, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 32, ../sass/partials/_base.scss */
p, li {
  font-size: 16px;
}

/* line 23, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/style.scss */
p, li, a {
  font-size: 1.2em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 34, ../sass/style.scss */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 38, ../sass/style.scss */
html body {
  background: #f9f9f9 repeat;
  height: 100%;
  width: 100%;
  font-family: ‘Century Gothic’, AppleGothic, sans-serif;
  letter-spacing: .08em;
  color: #191918;
}
/* line 45, ../sass/style.scss */
html body header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #191918;
  border-bottom: #d92328 dotted 1px;
  color: #f9f9f9;
}
@media (max-width: 600px) {
  /* line 45, ../sass/style.scss */
  html body header {
    background-color: #f9f9f9;
    border-bottom: 0;
  }
}
/* line 57, ../sass/style.scss */
html body header h1 {
  padding-left: 3em;
  line-height: 1em;
}
@media (max-width: 600px) {
  /* line 57, ../sass/style.scss */
  html body header h1 {
    color: #191918;
    font-size: 1.5em;
    text-align: center;
    padding-left: 0;
    background-color: #f9f9f9;
  }
  /* line 66, ../sass/style.scss */
  html body header h1 a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }
  /* line 6, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
  html body header h1 a:active, html body header h1 a:focus {
    outline: none;
  }
}
/* line 69, ../sass/style.scss */
html body header a {
  color: #f9f9f9;
  text-decoration: none;
}
/* line 72, ../sass/style.scss */
html body header a:hover {
  color: #c7c7c7;
}
/* line 77, ../sass/style.scss */
html body #wrapper {
  overflow: hidden;
  width: 82.97872%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  background: #f9f9f9 repeat;
  color: #191918;
}
/* line 86, ../sass/style.scss */
html body #wrapper .container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #f9f9f9 repeat;
  color: #191918;
}
/* line 93, ../sass/style.scss */
html body #wrapper .container #subhead {
  width: 100%;
  text-align: center;
  position: relative;
  clear: both;
  padding-top: 3em;
}
@media (max-width: 600px) {
  /* line 93, ../sass/style.scss */
  html body #wrapper .container #subhead {
    padding-top: 0;
  }
}
/* line 102, ../sass/style.scss */
html body #wrapper .container #subhead h1 {
  font-size: 4em;
  line-height: 1em;
  color: #191918;
  font-weight: 900;
}
/* line 110, ../sass/style.scss */
html body #wrapper .container nav ul {
  margin-top: -3em;
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
  list-style: none;
  color: #f9f9f9;
}
/* line 11, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
html body #wrapper .container nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media (max-width: 600px) {
  /* line 110, ../sass/style.scss */
  html body #wrapper .container nav ul {
    width: 82.97872%;
    float: left;
    margin-right: -100%;
    margin-left: 8.51064%;
    clear: none;
  }
}
/* line 119, ../sass/style.scss */
html body #wrapper .container nav ul li {
  text-align: center;
  padding: 2.5em 0;
  margin: .2em 0;
  clear: both;
}
@media (max-width: 600px) {
  /* line 119, ../sass/style.scss */
  html body #wrapper .container nav ul li {
    padding: 1.5em 0;
  }
}
/* line 127, ../sass/style.scss */
html body #wrapper .container nav ul li a {
  text-decoration: none;
  font-weight: 900;
  color: #f9f9f9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  text-align: center;
}
/* line 133, ../sass/style.scss */
html body #wrapper .container nav ul li a:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
html body #wrapper .container nav ul li a:hover:active, html body #wrapper .container nav ul li a:hover:focus {
  outline: none;
}
/* line 138, ../sass/style.scss */
html body #wrapper .container #subnav {
  width: 100%;
  text-align: center;
  position: relative;
  clear: both;
}
/* line 143, ../sass/style.scss */
html body #wrapper .container #subnav h1 {
  font-size: 4em;
  line-height: 1em;
  color: #191918;
  font-weight: 900;
}
/* line 150, ../sass/style.scss */
html body #wrapper .container img {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
  text-align: center;
  pointer-event: none;
}
/* line 155, ../sass/style.scss */
html body #wrapper .container #footer-nav {
  clear: both;
  text-align: left;
  color: #191918;
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  bottom: 6em;
  position: fixed;
}
@media (max-width: 600px) {
  /* line 155, ../sass/style.scss */
  html body #wrapper .container #footer-nav {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 34.04255%;
    clear: none;
    position: relative;
    padding-top: 2.8em;
    clear: both;
  }
}
/* line 168, ../sass/style.scss */
html body #wrapper .container #footer-nav ul {
  list-style: none;
}
/* line 11, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
html body #wrapper .container #footer-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 170, ../sass/style.scss */
html body #wrapper .container #footer-nav ul li a {
  font-weight: 300;
  color: #191918;
  line-height: 1.2em;
  text-decoration: none;
}
/* line 175, ../sass/style.scss */
html body #wrapper .container #footer-nav ul li a:hover {
  color: #d92328;
}
/* line 183, ../sass/style.scss */
html body #footer {
  width: 100%;
  position: relative;
  padding: 0 0 1em 0;
  height: 4em;
  clear: both;
  background-color: #f9f9f9;
  color: #191918;
  text-align: center;
}
/* line 193, ../sass/style.scss */
html body #footer h5 {
  text-align: center;
  margin: 0;
}

/* line 200, ../sass/style.scss */
.prints {
  background-color: #11a4da;
}

/* line 201, ../sass/style.scss */
.collage {
  background-color: #feda30;
}

/* line 202, ../sass/style.scss */
.neon {
  background-color: #191918;
}
/* line 204, ../sass/style.scss */
.neon:hover {
  background-color: #313131;
}

/* line 206, ../sass/style.scss */
.sewings {
  background-color: #d92328;
}

/* line 207, ../sass/style.scss */
.install {
  background-color: #f3c8d6;
}
