@charset "UTF-8";
/* line 55, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 94, ../sass/partials/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 139, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 192, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 210, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 229, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 239, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 263, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 278, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 289, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 341, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 350, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 377, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 405, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 418, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 428, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 443, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 454, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 464, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 476, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 487, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, ../sass/partials/_base.scss */
p, li {
  font-size: 16px;
}

/* line 23, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/style.scss */
p, li, a {
  font-size: 1.2em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 34, ../sass/style.scss */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 38, ../sass/style.scss */
html body {
  background: #f9f9f9 repeat;
  height: 100%;
  width: 100%;
  font-family: ‘Century Gothic’, AppleGothic, sans-serif;
  letter-spacing: .08em;
  color: #191918;
}
/* line 45, ../sass/style.scss */
html body header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #191918;
  border-bottom: #d92328 dotted 1px;
  color: #f9f9f9;
}
/* line 53, ../sass/style.scss */
html body header h1 {
  padding-left: 3em;
  line-height: 1em;
}
/* line 54, ../sass/style.scss */
html body header a {
  color: #f9f9f9;
  text-decoration: none;
}
/* line 57, ../sass/style.scss */
html body header a:hover {
  color: #c7c7c7;
}
/* line 62, ../sass/style.scss */
html body #wrapper {
  width: 82.97872%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  background: #f9f9f9 repeat;
  color: #191918;
}
/* line 71, ../sass/style.scss */
html body #wrapper .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #f9f9f9 repeat;
  color: #191918;
}
/* line 78, ../sass/style.scss */
html body #wrapper .container nav ul {
  padding-top: 3em;
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
  list-style: none;
}
/* line 11, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
html body #wrapper .container nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 83, ../sass/style.scss */
html body #wrapper .container nav ul li {
  list-style: none;
  text-align: center;
  padding: 2.5em 0;
  margin: .2em 0;
  clear: both;
}
/* line 90, ../sass/style.scss */
html body #wrapper .container nav ul li a {
  font-weight: 900;
  color: #f9f9f9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  text-decoration: none;
}
/* line 95, ../sass/style.scss */
html body #wrapper .container nav ul li a:hover {
  color: #191918;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 100, ../sass/style.scss */
html body #wrapper .container nav ul li:first-of-type {
  margin-bottom: -.28em;
  padding-top: .5em;
}
/* line 104, ../sass/style.scss */
html body #wrapper .container nav .big {
  color: black;
  padding: 0;
  margin: 0;
}
/* line 107, ../sass/style.scss */
html body #wrapper .container img {
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
  text-align: center;
  pointer-event: none;
}
/* line 112, ../sass/style.scss */
html body #wrapper .container #footer-nav {
  clear: both;
  text-align: left;
  color: #191918;
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  bottom: 6em;
  position: fixed;
}
/* line 119, ../sass/style.scss */
html body #wrapper .container #footer-nav ul {
  list-style: none;
}
/* line 11, ../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
html body #wrapper .container #footer-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 121, ../sass/style.scss */
html body #wrapper .container #footer-nav ul li a {
  font-weight: 300;
  color: #191918;
  line-height: 1.2em;
  text-decoration: none;
}
/* line 126, ../sass/style.scss */
html body #wrapper .container #footer-nav ul li a:hover {
  color: #d92328;
}
/* line 134, ../sass/style.scss */
html body #footer {
  width: 100%;
  position: relative;
  margin-top: 1em;
  padding: 1em;
  height: 4em;
  clear: both;
  background-color: #f9f9f9;
  color: #191918;
  text-align: center;
}
/* line 144, ../sass/style.scss */
html body #footer h5 {
  text-align: center;
  margin: 0;
}

/* line 151, ../sass/style.scss */
.prints {
  background-color: #11a4da;
}

/* line 152, ../sass/style.scss */
.collage {
  background-color: #feda30;
}

/* line 153, ../sass/style.scss */
.neon {
  background-color: #191918;
}
/* line 155, ../sass/style.scss */
.neon a {
  font-weight: 900;
  color: #f9f9f9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  text-decoration: none;
}
/* line 160, ../sass/style.scss */
.neon a:hover {
  background-color: #f9f9f9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 166, ../sass/style.scss */
.sewings {
  background-color: #d92328;
}

/* line 167, ../sass/style.scss */
.install {
  background-color: #f3c8d6;
}

/* line 168, ../sass/style.scss */
.big {
  font-weight: 600;
  font-size: 10em;
  color: #191918;
}

@media only screen and (max-width: 406px) {
  /* line 177, ../sass/style.scss */
  header {
    background-color: #f9f9f9;
  }

  /* line 178, ../sass/style.scss */
  h1 {
    color: #191918;
    font-size: 18px;
    padding-left: 0;
    margin-left: -2em;
    text-align: center;
  }

  /* line 184, ../sass/style.scss */
  #footer-nav {
    display: none;
  }

  /* line 185, ../sass/style.scss */
  #wrapper {
    width: 100%;
  }

  /* line 186, ../sass/style.scss */
  nav ul {
    width: 100%;
    text-align: center;
  }
  /* line 190, ../sass/style.scss */
  nav ul li {
    width: 200%;
  }
}
